#root {
	width: 100%;
	margin: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	place-items: center;
	min-height: 100vh;
}

.flex-container {
	display: flex;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: black;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
