.landing-page .services-section {
	font-family: "Poppins";
	color: #4b5563;
	background-color: #ffffff;
	width: 100%;
	min-height: 100vh;

    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 1.5rem;
}

.landing-page .services-section-title {
    margin: 0;
    color: #006881;
	font-size: 1.75rem;
	width: 100%;
	text-align: center;
}

.landing-page .services-grid {
	width: 90%;
    height: 80vh;
    display: grid;
	grid-template: repeat(2, minmax(300px, 1fr)) / repeat(2, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
}

.landing-page .service-card {
    width: 95%;
    height: 90%;
    display: flex;
	background-color: #e5e7eb;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 15px;
    border-radius: 8px;
}

.landing-page .service-card-header {
    width: 100%;
    height: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

.landing-page .service-card-title {
    margin: 0;
    font-size: 1.25rem;
    color: #006881;
    width: 65%;
    text-align: left;
}

.landing-page .service-card-description {
    margin: 0;
    width: 92%;
    height: 3rem;
}

.landing-page .card-description {
    margin: 0;
    width: 70%;
    font-size: 0.75rem;
    text-align: left;
}

.landing-page .service-card-figure {
    margin: 0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
}

.landing-page .card-figure {
    width: 60%;
}

.landing-page .service-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 90%;
}

.landing-page .service-card-link {
    padding: 10px 20px;
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #006881;
	color: #006881;
    border-radius: 8px;
}
